@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slide-in 0.5s forwards;
}

body {
  background: url("https://source.unsplash.com/random?kitten") no-repeat center
    center fixed;
  background-size: cover;
  animation: fly 5s infinite linear;
}

@keyframes fly {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}
